# Build artifacts
/app-backend/target/
/app-backend/build/

# IDE files
/app-backend/.project
/app-backend/.classpath
/app-backend/.settings/
/app-backend/.idea/

# Environment-specific properties
/app-backend/application-dev.properties
/app-backend/application-prod.properties

# Log files
/app-backend/*.log

# Database dumps
/app-backend/*.sql

# Temporary files
/app-backend/*.tmp


# Dependency directories
/app-frontend/node_modules/
/app-frontend/dist/

# IDE files
/app-frontend/.vscode/
/app-frontend/.idea/

# Compiled output
/app-frontend/*.js
/app-frontend/*.js.map

# Environment-specific properties
/app-frontend/src/environments/*.ts

# Log files
/app-frontend/*.log

# Temporary files
/app-frontend/*.tmp

